html, body, div,
h1, h2, h3, h4, p,
form, label
 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}


#root {
  padding: 30px;
}

h1 {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.1;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.1;
}

h3{
  font-weight: bold;
}

ul {
  margin: 0px;
}

input,
label {
  font-size: 1rem;
}

button {
  background-color: lightgray;
  font-size: .9rem;
  padding: 10px;
  border-radius: 15px;
  border: solid black 1px;
  opacity: .9;
}

button:hover {
  opacity: 1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
